<template>
  <div>
    a:{{a}}<br />
    b:{{b}}<br />
    c:{{c}}<br />
    cEx+1:{{cEx(+1)}}<br />
    cEx-1:{{cEx(-1)}}<br />
    api:{{api}}<br />
    <button @click="set({name:'a',value:a+1})">a++</button><br />
    <button @click="goCallAPI">call api</button><br />
  </div>
</template>

<script>
import {
  mapState, mapMutations, mapGetters, mapActions,
} from 'vuex';

export default {
  computed: {
    ...mapState(['a', 'b', 'api']),
    ...mapGetters(['c', 'cEx']),
  },
  methods: {
    ...mapActions(['callAPI']),
    ...mapMutations(['set']),
    goCallAPI() {
      console.log('in component before call api');
      this.callAPI(5858).then((res) => {
        console.log('in component res', res);
        console.log('in component with then', this.api);
      });
      console.log('in component without then', this.api);
    },
  },
};
</script>

<style>

</style>
