<template>
  <div id="app">
    <div id="nav">
      <router-link to="/">Home</router-link> |
      <router-link to="/about">About</router-link> |
      <router-link to="/d1">d1(router)</router-link> |
      <router-link to="/VuexStore">VuexStore</router-link>
      <button @click="goD1">goD1</button>
      <!-- from:{{from}}
      to:{{to}} -->
    </div>
    <router-view/>
  </div>
</template>

<script>
export default {
  data() {
    return {
      from: {},
      to: {},
    };
  },
  methods: {
    goD1() {
      this.$router.push({ name: 'd1' });
    },
  },
  watch: {
    // $route(to, from) {
    //   console.log('from', from);
    //   console.log('to', to);
    //   // this.from = from;
    //   // this.to = to;
    // },
  },
};
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

#nav {
  padding: 30px;
}

#nav a {
  font-weight: bold;
  color: #2c3e50;
}

#nav a.router-link-exact-active {
  color: #42b983;
}
</style>
